/*Style Sheet for Chris Merrill's OpenWeatherMap API application*/

body {
	background:#f4f3f2;
}

.form {
	background-color: #345c9b;
	width: 550px;
	height: 500px;
	vertical-align:top;
	border: 2px solid black;
	border-radius: 10px;
	display: inline-block;
}


h1, h2, p{
	text-align: center;
	text-shadow: 2px 2px black;
	color: white;
	font-family: "Georgia", serif;
}

li {
	color: white;
	font-family: "Georgia", serif;
	text-shadow: 2px 2px black;
}


input[type=text], input[type=number] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 8px 0 7px;
	box-sizing: border-box;
	border-color: #00d4ff;
}

input[type=submit] {
	color: white;
    background-color: #e2a053;
    border: 2px solid white;
    padding: 16px 32px;
    cursor: pointer;
	text-align: center;
	display: inline-block;
}

.submit {
	width:25%;
	display:inline-block;
	overflow: auto;
	white-space: nowrap;
	margin-left: 205px;
	border:1px white solid;
}

.submit:hover {
	opacity: 0.9;
}